html 
    head
        title= "Site / " + task.name
    body
        if (session.lightmode)
            include ../includes/csslight.pug
        else 
            include ../includes/cssdark.pug

        if (session == undefined || session.loggedin == undefined || !session.loggedin)
            include ../includes/loggedout.pug
        else
            p(style="font-weight: bold")= "User: " + session.username
            include ../includes/loggedin.pug

        br
        
        h1#taskname= task.name
        h3= "Assigned to: " + task.username
        h3= "Due @:"
        h3#taskdate= task.datetime
    
        h4 Edit Task:
        label(for='etaskname')= 'Task Name:'
        input#etaskname(type='text' name='etaskname' value=task.name)
        label(for='etaskdate')= 'Task Date:'
        input#etaskdate(type='datetime-local' name='etaskdate' value=task.datetime)
        button#edittask(type='button')='Edit'
        
        hr
        h4 Create Sub Task:
        label(for='subtaskname')= 'Sub Task Name:'
        input#createsubtaskname(type='text' name='subtaskname')
        label(for='subtaskdate')= 'Sub Task Date:'
        input#createsubtaskdate(type='datetime-local' name='subtaskdate')
        button#createsubtask(type='button')='Create'

        script(src='../clients/createsubtask.js')
        hr
        
        
        h4 Sub Tasks:
        if (task.subtasks)
            ul
                for s in task.subtasks
                    li
                        input(type="checkbox")
                        label= s.name
                        p= "Due @ " + s.datetime
