html 
    head
        title= Task Manager / Create Task
        
    body
        if (session.lightmode)
            include ../includes/csslight.pug
        else 
            include ../includes/cssdark.pug
        
        if (session == undefined || session.loggedin == undefined || !session.loggedin)
            include ../includes/loggedout.pug    
        else
            p(style="font-weight: bold; text-align: center; display: inline")= "User: " + session.username
            include ../includes/loggedin.pug
        
        div#main
            #subtitle
                h3(style='display: inline-block; margin-right: 10px; color: white') Create Task

            label(for='taskname')= 'Task Name:'
            input#createtaskname(type='text' name='taskname')
            label(for='taskdate')= 'Task Date:'
            input#createtaskdate(type='datetime-local' name='taskdate')
            button.button#createtask(type='button')='Create Task'

            br
            br
            label Priority:
            input(style='margin-left: 10px' type='radio' id='low' name='priority' value='LOW' checked='true')
            label(for='low' style='margin-right: 7px')='Low'
            input(type='radio' id='medium' name='priority' value='MEDIUM')
            label(for='medium' style='margin-right: 7px' )='Medium'
            input(type='radio' id='high' name='priority' value='HIGH')
            label(for='high')='High'
            
            br 
            br
            label Privacy:
                input(style='margin-left: 7px' type='radio' id='public' name='privacy' value='PUBLIC' checked='true')
                label(for='public' style='margin-right: 7px')='Public'
                input(type='radio' id='private' name='privacy' value='PRIVATE')
                label(for='private')='Private'
            
            br 
            br
            label(for='userselect')='Assigned To:'
            br
            br
            select(id='userselect' multiple='' style='margin-left: 7px')
                for u in users
                    option(id=u.username)= u.username

        
        script(src='../clients/createtask.js')
