html 
    head
        title Task Manager / Create Entry
        include ../includes/css.pug
        
    body
        if (session == undefined || session.loggedin == undefined || !session.loggedin)
            include ../includes/loggedout.pug    
        else
            include ../includes/loggedin.pug
            p(style="font-weight: bold; text-align: center; display: inline")= "User: " + session.username
        
        div#main
            #subtitle
                h3(style='display: inline-block; margin-right: 10px; color: white') Glossary

            label(for='entryname')= 'Entry Name:'
            input#createentryname(type='text' name='entryname')
            label(for='entryacronym')= 'Entry Acronym:'
            input#createentryacronym(type='text' name='entryacronym')
            br
            br
            label(for='entrydefinition')= 'Entry Definition:'
            br
            textarea#createentrydef(style='margin-left: 7px' name='entrydefinition' rows='5' cols='65')
            br
            br
            button#createentry(type='button')='Create Glossary Entry'

        script(src='../clients/createentry.js')