html 
    head
        title= "Site / " + task.name
    body
        if (session.lightmode)
            include ../includes/csslight.pug
        else 
            include ../includes/cssdark.pug

        if (session == undefined || session.loggedin == undefined || !session.loggedin)
            include ../includes/loggedout.pug
        else
            p(style="font-weight: bold")= "User: " + session.username
            include ../includes/loggedin.pug

        br
        
        div#main(style="width: 90%")
            div#taskmaininfo(style="float: left; width: 50%")
                h1#taskname= task.name
            
            div#tasksubinfo(style="float: left; width: 50%")
                span(style="margin-left: 7px; font-weight: bold; font-size: 22px")= "Due: "
                span#taskdate(style="font-weight: bold; font-size: 22px")= task.datetimeformat
                br
                span(style="margin-left: 7px; font-weight: bold; font-size: 22px")= "Assigned to: "
                - for (var i = 0; i < task.users.length; i++)
                    span(style="margin-left: 7px; font-size: 22px")= task.users[i]
                    - if (i != task.users.length - 1)
                        span(style="font-size: 22px")= ","

            
            div#edit(style='float: left; width: 50%')
                h4 Edit Task:
                label(for='etaskname')= 'Task Name:'
                input#etaskname(type='text' name='etaskname' value=task.name)
                label(for='etaskdate')= 'Task Date:'
                input#etaskdate(type='datetime-local' name='etaskdate' value=task.datetime)
                button.button#edittask(type='button')='Submit'

                h4 Create Sub Task:
                label(for='subtaskname')= 'Sub Task Name:'
                input#createsubtaskname(type='text' name='subtaskname')
                label(for='subtaskdate')= 'Sub Task Date:'
                input#createsubtaskdate(type='datetime-local' name='subtaskdate')
                button.button#createsubtask(type='button')='Create'

                h4 Add Comment:
                textarea#comment(style='margin-left: 7px' rows='5' cols='68')
                button.button#addcomment(type='button')='Add'

            div#show(style='float: left; width: 50%; overflow: hidden')
                if (task.comments)
                    label(style="font-size: 16px; font-weight: bold") Comments: 
                    button.button(onclick="window.location.assign('/comments')")#allcomments See All Comments
                    - let i = 0;
                    ul
                        for c in task.comments
                            - if (i < 3)
                                p= '"' + c.comment + '" - made by ' + c.author
                            - i++
                            - if (i == 3)
                                p= "..."

                
                h4 Sub Tasks:
                if (task.subtasks)
                    ul
                        for s in task.subtasks
                            .subtaskcard
                                p(style='text-decoration: none')= s.name
                                p= "Due: " + s.datetimeformat
        
        script(src='../clients/createsubtask.js')
