html
    head
        title Task Manager / Users
        include ../includes/css.pug
    body
        if (session == undefined || session.loggedin == undefined || !session.loggedin)
            include ../includes/loggedout.pug
        else
            p(style="font-weight: bold")= "User: " + session.username
            include ../includes/loggedin.pug
        hr

        h1 Tasks

        label(for='task-search')= "Search for Tasks: "
        input#tasksearch(type='text' name='task-search')
        button#tasksearchbutton(type="button")= "Search"
        script(src='../clients/tasks.js')
       
        ul
            for t in tasks
                li
                    button(type="button") X
                    a(href="/tasks/" + t._id)= t.name
                    p= "Assigned to: " + t.username
                    p= "Due @ " + t.datetime

    