html
    head
        title Task Manager / Users
    body
        if (session.lightmode)
            include ../includes/csslight.pug
        else 
            include ../includes/cssdark.pug
        
        if (session == undefined || session.loggedin == undefined || !session.loggedin)
            include ../includes/loggedout.pug
        else
            p(style="font-weight: bold; margin-left: 7px")= "User: " + session.username
            include ../includes/loggedin.pug
        
        #main
            h1 Tasks

            label(for='task-search')= "Search for Tasks: "
            input#tasksearch(type='text' name='task-search')
            span
                button#tasksearchbutton(type='button')= "Search"
                a(href="/tasks/card" style="margin-left: 50%; color: grey")= "[ Card View ]"
                a(href="/tasks/list" style="margin-left: 1%")="[ List View ]" 
            
            #tasksdiv
                #created(style= "width:25%; float: left;")
                    h4(style="text-align: center") Created
                    for t in tasks.filter(function (task) {if (task.status == "Created" && (session.username == task.username || !task.privacy)) {return task}})
                        a(href="/deletetask/" + t._id)
                            button(style='margin-top: 10px') X
                        button(style='margin-top: 10px') Start
                        a(href="/" + t._id style="text-decoration: none; z-index: 0")
                            .taskcard
                                if (t.priority == "High")
                                    p(style="background-color: #b31500; color: #b31500; border-radius: 30px; width: 25%; height: 5px; margin: 0px")
                                else if (t.priority == "Medium")
                                    p(style="background-color: #ffc800; color: #ffc800; border-radius: 30px; width: 25%; height: 5px; margin: 0px")
                                else
                                    p(style="background-color: #00b324; color: #00b324; border-radius: 30px; width: 25%; height: 5px; margin: 0px")

                                p(style='text-decoration: none; margin-right: 0px')= t.name 
                                p= "Assigned to: " + t.username
                                p= "Due: " + t.datetimeformat

                #active(style= "margin-left: 5%; width:25%; float: left") 
                    h4(style="text-align: center") Active
                    for t in tasks.filter(function (task) {if (task.status == "Active" && (session.username == task.username || !task.privacy)) {return task}})
                        a(href="/deletetask/" + t._id)
                            button(style='margin-top: 10px') X
                        button(style='margin-top: 10px') Complete
                        a(href="/" + t._id style="text-decoration: none")
                            .taskcard
                                if (t.priority == "High")
                                    p(style="background-color: #b31500; color: #b31500; border-radius: 30px; width: 25%; height: 5px; margin: 0px")
                                else if (t.priority == "Medium")
                                    p(style="background-color: #ffc800; color: #ffc800; border-radius: 30px; width: 25%; height: 5px; margin: 0px")
                                else
                                    p(style="background-color: #00b324; color: #00b324; border-radius: 30px; width: 25%; height: 5px; margin: 0px")
                                p(style='text-decoration: none')= t.name 
                                p= "Assigned to: " + t.username
                                p= "Due: " + t.datetimeformat
                    
                #closed(style= "margin-left: 5%; width:25%; float: left")
                    h4(style="text-align: center") Closed
                    for t in tasks.filter(function (task) {if (task.status == "Closed" && (session.username == task.username || !task.privacy)) {return task}})
                        a(href="/deletetask/" + t._id)
                            button(style='margin-top: 10px') X
                        a(href="/" + t._id style="text-decoration: none")
                            .taskcard
                                if (t.priority == "High")
                                    p(style="background-color: #b31500; color: #b31500; border-radius: 30px; width: 25%; height: 5px; margin: 0px")
                                else if (t.priority == "Medium")
                                    p(style="background-color: #ffc800; color: #ffc800; border-radius: 30px; width: 25%; height: 5px; margin: 0px")
                                else
                                    p(style="background-color: #00b324; color: #00b324; border-radius: 30px; width: 25%; height: 5px; margin: 0px")
                                p(style='text-decoration: none')= t.name 
                                p= "Assigned to: " + t.username
                                p= "Due: " + t.datetimeformat
                


        script.
            document.getElementById('tasksearchbutton').addEventListener("click", function(){
                let link = "/tasks/card/" + document.getElementById("tasksearch").value;
                window.location.assign(link);
            });


        
 
                
    