html 
    head
        title= "Site / " + task.name
    body
        if (session.lightmode)
            include ../includes/csslight.pug
        else 
            include ../includes/cssdark.pug

        if (session == undefined || session.loggedin == undefined || !session.loggedin)
            include ../includes/loggedout.pug
        else
            p(style="font-weight: bold")= "User: " + session.username
            include ../includes/loggedin.pug

        br
        a(href="/tasks") Back to Tasks
        
        h1#taskname= task.name
        h3= "Assigned to: " + task.username
        h3= "Due @ " + task.datetime
        
        if (session.username == task.username)
            hr
            h4 Create Sub Task:
            label(for='subtaskname')= 'Sub Task Name:'
            input#createsubtaskname(type='text' name='subtaskname')
            label(for='subtaskdate')= 'Sub Task Date:'
            input#createsubtaskdate(type='datetime-local' name='subtaskdate')
            button#createsubtask(type='button')='Create Sub Task'

            script(src='../clients/createsubtask.js')
            hr
        
        h3 Sub Tasks:
        if (task.subtasks)
            ul
                for s in task.subtasks
                    li
                        input(type="checkbox")
                        label= s.name
                        p= "Due @ " + s.datetime
