html
    head
        title Task Manager / Users
    body
        if (session.lightmode)
            include ../includes/csslight.pug
        else 
            include ../includes/cssdark.pug
        
        if (session == undefined || session.loggedin == undefined || !session.loggedin)
            include ../includes/loggedout.pug
        else
            p(style="font-weight: bold; margin-left: 7px")= "User: " + session.username
            include ../includes/loggedin.pug
        
        #main
            h1 Tasks

            label(for='task-search')= "Search for Tasks: "
            input#tasksearch(type='text' name='task-search')
            button#tasksearchbutton(type='button')= "Search"
            
            if (tasks.length == 0)
                p No tasks found...
            

            #tasksdiv
                #created(style= "width:25%; float: left;")
                    h4(style="text-align: center") Created
                    for t in tasks.filter(function (task) {if (task.status == "Created" && (session.username == task.username || !task.privacy)) {return task}})
                        p= t.name
                #active(style= "margin-left: 7.5%; width:25%; float: left") 
                    h4(style="text-align: center") Active
                    for t in tasks.filter(function (task) {if (task.status == "Active" && (session.username == task.username || !task.privacy)) {return task}})
                        p= t.name
                #closed(style= "margin-left: 7.5%; width:25%; float: left")
                    h4(style="text-align: center") Closed
                    for t in tasks.filter(function (task) {if (task.status == "Closed" && (session.username == task.username || !task.privacy)) {return task}})
                        p= t.name
                


        script.
            document.getElementById('tasksearchbutton').addEventListener("click", function(){
                let link = "/tasks/" + document.getElementById("tasksearch").value;
                window.location.assign(link);
            });
        
 
                
    