html
    head
        title Task Manager / Users
        include ../includes/css.pug
        
    body
        if (session == undefined || session.loggedin == undefined || !session.loggedin)
            include ../includes/loggedout.pug
        else
            p(style="font-weight: bold; text-align: center; display: inline")= "User: " + session.username
            include ../includes/loggedin.pug
        
        #main
            #subtitle
                h3(style='display: inline-block; margin-right: 10px; color: white') Tasks
                a(href='/createtask' style='width: 10%')
                    button.button + New Task
                h5(style='color: white; margin-left: 75%; display: inline-block') List View
                label.switch
                    input(onclick="listViewOff()" type='checkbox' checked='')
                    span.slider
            br

            input#tasksearch(style='margin-left: 7px' type='text' name='task-search' size=50)
            button.button#tasksearchbutton(type='button') Search For Tasks
            br

            h4(style= "width: 17%; float: left;") Name
            h4(style= "width: 17%; margin-left: 2.5%; float: left") Users
            h4(style= "width: 17%; margin-left: 2.5%; float: left") Due Date
            h4(style= "width: 17%; margin-left: 2.5%; float: left") Status
            h4(style= "width: 17%; margin-left: 2.5%; float: left") Priority

            for t in tasks
                span
                    a(href="/" + t._id style= "height: 30px; width: 17%; float: left; margin-top: 16px; margin-left: 7px")= t.name
                    p(style= "height: 30px; width: 17%; margin-left: 2.5%; float: left")= t.users[0]
                    p(style= "height: 30px; width: 17%; margin-left: 2.5%; float: left")= t.datetimeformat
                    p(style= "height: 30px; width: 17%; margin-left: 2.5%; float: left")= t.status
                    p(style= "height: 30px; width: 17%; margin-left: 2.5%; float: left")= t.priority
    
        script.
            document.getElementById('tasksearchbutton').addEventListener("click", function(){
                window.location.assign("/tasks/list/" + document.getElementById("tasksearch").value);
            });

             function listViewOff(){
                window.location.assign("/tasks/card")
            }