html
    head
        title Task Manager / Users
    body
        if (session.lightmode)
            include ../includes/csslight.pug
        else 
            include ../includes/cssdark.pug
        
        if (session == undefined || session.loggedin == undefined || !session.loggedin)
            include ../includes/loggedout.pug
        else
            p(style="font-weight: bold; text-align: center; display: inline")= "User: " + session.username
            include ../includes/loggedin.pug
        
        #main
            #subtitle
                h3(style='display: inline-block; margin-right: 10px; color: white') Tasks
                a(href='/createtask' style='width: 10%')
                    button.button + New Task
                h5(style='color: white; margin-left: 75%; display: inline-block') List View
                label.switch
                    input(onclick="listViewOn()" type="checkbox")
                    span.slider
            br

            input#tasksearch(style='margin-left: 7px' type='text' name='task-search' size=50)
            button.button#tasksearchbutton(type='button') Search For Tasks
 
            #tasksdiv
                .status
                    h4(style="background-color: rgb(190, 40, 27); color: white") Backlog
                    for t in tasks.filter(function (task) {if (task.status == "Backlog" && (session.username == task.username || !task.privacy)) {return task}})
                        a(href="/deletetask/" + t._id)
                            button.button(style='margin-top: 10px') X
                        a(href="/starttask/" + t._id)
                            button.button(style='margin-top: 10px') Start
                        a(href="/" + t._id style="text-decoration: none; z-index: 0")
                            .taskcard
                                if (t.priority == "High")
                                    p(style="background-color: #b31500; color: #b31500; border-radius: 30px; width: 25%; height: 5px; margin: 0px")
                                else if (t.priority == "Medium")
                                    p(style="background-color: #ffc800; color: #ffc800; border-radius: 30px; width: 25%; height: 5px; margin: 0px")
                                else
                                    p(style="background-color: #00b324; color: #00b324; border-radius: 30px; width: 25%; height: 5px; margin: 0px")

                                p(style='text-decoration: none')= t.name 
                                span(style='margin-left: 7px')= "Assigned to: " + t.users[0]
                                if (t.users.length > 1)
                                    span= " + others"
                                p=t.datetimeformat

                .status(style= "margin-left: 5%") 
                    h4(style="background-color: rgb(255, 255, 84)") In Progress
                    for t in tasks.filter(function (task) {if (task.status == "In Progress" && (session.username == task.username || !task.privacy)) {return task}})
                        a(href="/deletetask/" + t._id)
                            button.button(style='margin-top: 10px') X
                        a(href="/completetask/" + t._id)
                            button.button(style='margin-top: 10px') Complete
                        a(href="/" + t._id style="text-decoration: none")
                            .taskcard
                                if (t.priority == "High")
                                    p(style="background-color: #b31500; color: #b31500; border-radius: 30px; width: 25%; height: 5px; margin: 0px")
                                else if (t.priority == "Medium")
                                    p(style="background-color: #ffc800; color: #ffc800; border-radius: 30px; width: 25%; height: 5px; margin: 0px")
                                else
                                    p(style="background-color: #00b324; color: #00b324; border-radius: 30px; width: 25%; height: 5px; margin: 0px")

                                p(style='text-decoration: none')= t.name 
                                span(style='margin-left: 7px')= "Assigned to: " + t.users[0]
                                if (t.users.length > 1)
                                    span= " + others"
                                p=t.datetimeformat
                
                .status(style= "margin-left: 5%") 
                    h4(style="background-color: rgb(190, 110, 198); color: white") On Hold
                    for t in tasks.filter(function (task) {if (task.status == "On Hold" && (session.username == task.username || !task.privacy)) {return task}})
                        a(href="/deletetask/" + t._id)
                            button.button(style='margin-top: 10px') X
                        a(href="/completetask/" + t._id)
                            button.button(style='margin-top: 10px') Complete
                        a(href="/" + t._id style="text-decoration: none")
                            .taskcard
                                if (t.priority == "High")
                                    p(style="background-color: #b31500; color: #b31500; border-radius: 30px; width: 25%; height: 5px; margin: 0px")
                                else if (t.priority == "Medium")
                                    p(style="background-color: #ffc800; color: #ffc800; border-radius: 30px; width: 25%; height: 5px; margin: 0px")
                                else
                                    p(style="background-color: #00b324; color: #00b324; border-radius: 30px; width: 25%; height: 5px; margin: 0px")

                                p(style='text-decoration: none')= t.name 
                                span(style='margin-left: 7px')= "Assigned to: " + t.users[0]
                                if (t.users.length > 1)
                                    span= " + others"
                                p=t.datetimeformat                
                    
                .status(style= "margin-left: 5%")
                    h4(style="background-color: rgb(61, 154, 42); color: white") Completed
                    for t in tasks.filter(function (task) {if (task.status == "Completed" && (session.username == task.username || !task.privacy)) {return task}})
                        a(href="/deletetask/" + t._id)
                            button.button(style='margin-top: 10px') X
                        a(href="/" + t._id style="text-decoration: none")
                            .taskcard
                                if (t.priority == "High")
                                    p(style="background-color: #b31500; color: #b31500; border-radius: 30px; width: 25%; height: 5px; margin: 0px")
                                else if (t.priority == "Medium")
                                    p(style="background-color: #ffc800; color: #ffc800; border-radius: 30px; width: 25%; height: 5px; margin: 0px")
                                else
                                    p(style="background-color: #00b324; color: #00b324; border-radius: 30px; width: 25%; height: 5px; margin: 0px")

                                p(style='text-decoration: none')= t.name 
                                span(style='margin-left: 7px')= "Assigned to: " + t.users[0]
                                if (t.users.length > 1)
                                    span= " + others"
                                p=t.datetimeformat
                


        script.
            document.getElementById('tasksearchbutton').addEventListener("click", function(){
                window.location.assign("/tasks/card/" + document.getElementById("tasksearch").value);
            });

            function listViewOn(){
                window.location.assign("/tasks/list")
            }


        
 
                
    