//Section that'll allow user to login.
div
    label(for='username')= 'Username:'
    input#loginusername(type='text' name='username')
    label(for='password')= ' Password:'
    input#loginpassword(type='password' name='password')
    button#login(type='button') Login
    br
    hr

script(src='../clients/login.js')

div.menu
    a.menulinks(href='/')= 'Home'

    a.menulinks(href='glossary')='Glossary'
    
    a.menulinks(href='/tasks')='Tasks'
    
    a.menulinks(href='/register')= 'Register'