div#menu
    a.closebtn(onclick='closeMenu()')= 'X'

    a(href='/')= 'Home'

    a(href='/glossary')= 'Glossary'
    
    a(href='/tasks')= 'Tasks'
    
    a(href='/createtask')= 'Create Task'
    
    a(href="/logout")= 'Log Out'

span(onclick='openMenu()') Open Menu

script.
    function openMenu() {
        document.getElementById("menu").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeMenu() {
        document.getElementById("menu").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }


