div#logo(style='padding-bottom: 5px; margin-bottom: 10px')
    img(src='/includes/DSP_logo.png' height='50' width='50' style='position: absolute')

    div(style='text-align: center')
        label(for='username')= 'Username:'
        input#loginusername(type='text' name='username')
        label(for='password')= ' Password:'
        input#loginpassword(type='password' name='password')
        button.button#login(type='button') Login

div#searchbar(style='border-bottom: 1.5px solid black; padding-bottom: 5px; margin-bottom: 10px')
    button.button(onclick='openNav()' style='position: absolute; margin-left: 7px; color: black') Menu
    div(style='text-align: center')
        input(type='text' size=100)
        button.button Search


div#menu(style= 'width: 8%; height: 100%; float: left; overflow-x: hidden; transition: 0.5s; margin-right: 2%')
    button.button(onclick='closeNav()' style='margin-left: 7px') X
    p
        a(href='/tasks/card')= 'Tasks'
    p
        a(href='/glossary')= 'Glossary'
    p
        a(href='/feedback')= 'Feedback'
    p
        a(href='/register')= 'Register'
    
script.
    function openNav() {
        document.getElementById("menu").style.marginRight = '2%';
        document.getElementById("menu").style.width = '8%';
        document.getElementById("main").style.width = '90%';
    }
    function closeNav() {
        document.getElementById("menu").style.marginRight = '0%';
        document.getElementById("menu").style.width = '0%';
        document.getElementById("main").style.width = '100%';
    }

script(src='../clients/login.js')