//Section that'll allow user to login.
div
    label(for='username')= 'Username:'
    input#loginusername(type='text' name='username')
    label(for='password')= ' Password:'
    input#loginpassword(type='password' name='password')
    button#login(type='button') Login
    br

script(src='../clients/login.js')

p#openmenu(onclick='openNav()' style='text-decoration: underline') Menu
div#menu(style= 'width: 10%; height: 100%; float: left; overflow-x: hidden; transition: 0.5s')
    a(onclick='closeNav()' style='margin-left: 7px; text-decoration: none') X
    p
        a(href='/')= 'Home'
    p
        a(href='/glossary')= 'Glossary'
    p
        a(href='/tasks')= 'Tasks'
    p
        a(href='/register')= 'Register'
    
script.
    function openNav() {
        document.getElementById("menu").style.width = '10%';
        document.getElementById("main").style.marginLeft = '10%';
    }
    function closeNav() {
        document.getElementById("menu").style.width = '0';
        document.getElementById("main").style.marginLeft= '0';
    }